.Game-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Game, .Loading {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 90vh;
  justify-content: space-evenly;
  width: 100vw;
}

.Informations-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 20vh;
  justify-content: space-between;
  text-align: center;
  width: 80vw;
}

.Answers-Container {
  align-items: center;
  background-color: #dfe3eb;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(62, 54, 63, 0.459);
  display: flex;
  flex-flow: row wrap;
  height: 45vh;
  justify-content: space-evenly;
  width: 600px;
}

.Answers-Container button {
  border: none;
  border-radius: 6px;
  font-size: 2.2rem;
  height: 18vh;
  inline-size: 100%;
  overflow-wrap: break-word;
  padding: 4px;
  transition: 0.2s;
  width: 250px;
}

.Next-BtnContainer {
  height: 8vh;
}

.Next-Button {
  cursor: pointer;
  height: 100%;
  width: 20vw;
}

.Visible {
  visibility: visible;
}

.Hide {
  visibility: hidden;
}

