* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'League Spartan', 'Roboto', sans-serif;
}

body {
  background-color: #e5ecf3;
}

.App-title {
  transform: translateY(-7rem);
  color: #666f7ac4;
  font-size: 10rem;
  text-shadow: 0.6rem 0.6rem 1rem #1e263c27;
}

.App-title span {
  color: #99bbed;
}

.formLogin {
    /* min-width: 25rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dee9f4;
    color: #16212791;
    padding: 2rem;
    border-radius: 1rem;
    transform: scale(1.5);
    box-shadow: 0.5rem 0.7rem 2rem rgb(0, 0, 0, .2);
}

.formLogin label {
    /* width: 100%; */
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0;
}

.formLogin input {
  /* width: 100%;
  font-size: .5rem; */
  color: #162127bd;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  padding: 0.4rem 0.7rem;
}

.formLogin input:focus {
  transform: scale(1.05);
}

*:focus{
  outline: solid 0.1rem #99bbed;
}

.button-container {
    margin: 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-container button {
  width: 6rem;
  font-size: 1rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.4rem;
  color: #162127cb;
  background-color: #e5ecf3;
  box-shadow: 0.2rem 0.2rem 0.9rem rgb(0, 0, 0, .2);
}

.button-container button:hover {
  color: #162127cb;
  background-color: #dee9f4;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(0, 0, 0, .2);
}

.button-container button:disabled {
  color: #16212773;
}